@font-face {
    font-family: 'Jost';
    src: url('/fonts/Jost.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

ol, li, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFF;
}