$primary-color: #FFF;
$secondary-color: #141024;
$important-color: #D52027;
$gray-color: #F6F6F6;

// анимация появления двух линий сверху и снизу при наведении на элемент
%animation {
    position: relative;
    cursor: pointer;
            
    &::before, &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        background: $primary-color;
        transition: width .3s;
    }

    &::before {
        top: 0;
        left: 0;
    }

    &::after {
        bottom: 0;
        right: 0;
    }

    &:hover {
        &::before {
            width: 100%;
            transition: width .3s;
        }

        &::after {
            width: 100%;
            transition: width .3s;
        }
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin basisFont($size: 16px, $weight: 400, $line: 1.5) {
    font-size: $size;
    font-weight: $weight;
    line-height: $line;
}

%descriptionP {
    @include basisFont(1.0625rem, 400, 1.8rem); // 18px, 28.8px
    color: rgba(20, 16, 36, 0.7);
}

%descriptionH {
    @include basisFont(1.5rem, 600, 2.4rem); // 24px, 38.4px
    margin-bottom: 1.25rem; // 20px
}

%button {
    padding: 1.5625rem 3.375rem; // 25px 54px
    border-radius: 0.3125rem; // 5px
    max-width: 17rem; // 272px
    background-color: $important-color;
    border: 3px solid $important-color;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
    &:hover {
        background-color: $primary-color;
        color: $important-color;
    }
}

%padding {
    padding: 6.25rem 0 6.25rem 15.625rem; // 100px 0 100px 250px
}